<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>723716650.702322</string>
					<key>XcodeLocation</key>
					<string>{"Member":""}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>WonderWesternBalkan/View/Base.lproj/Main.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTMemberDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: Compilation failed. Unable to write to path: /Users/kincarta/Library/Developer/Xcode/DerivedData/WonderWesternBalkan-bxahrbmbflnwmqhjclirfcmbslxf/Build/Intermediates.noindex/WonderWesternBalkan.build/Debug-iphonesimulator/WonderWesternBalkan.build/Base.lproj/Main.storyboardc</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
